.add-order-container{
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 20%;
}
input{
    border: none;
    border-bottom: 1px solid var(--primary); /* You can adjust the color and thickness as needed */
    outline: none;
    margin-bottom: 40px;
  }

  input:focus{
    border-bottom: 2px solid red ;
  }

select {
    padding: 10px;
    width: 85%;
    margin-bottom: 10px;
}
.creat-order-button{
    background: var(--primary);
    width: 85% ;
    color : white;
    padding: 10px;
    border : none;

}